<div class="col-sm-10 intro">
    <p>Woontevreden werkt aan
        <span>beter wonen</span>. Dit doen we door het gesprek tussen bewoners en hun corporaties te ondersteunen. Wij verzamelen meningen en feiten en maken ze inzichtelijk. Hierdoor worden prestaties vergelijkbaar en kunnen corporaties gericht verbeteren.
    </p>
    <div class="spacer"></div>
    <p>
        <div fit-vids>
            <iframe src="//player.vimeo.com/video/79342978?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="699" height="394" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </p>
</div>

<div ng-controller="timeLineCtrl" class="col-sm-8">
    <h2>Het laatste nieuws</h2>
    <div ng-repeat="post in posts | limitTo:5" class="homePost">
        <h3>
            {{post.title}}
        </h3>
        <p>
            {{post.text}}
        </p>
        <p class="postTime">
            {{post.time}}
        </p>
    </div>
</div>