<div class="row">
    <div class="col-md-3">
        <div class="aboutPage">
            <img src="/img/aboutPage/jorma.png" alt=""></img>
            <div class="aboutText">
                <p>Mijn naam is Jorma en ik hou van helicoptertjes</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="aboutPage">
            <img src="/img/aboutPage/Sarah.jpg" alt="">
            <div class="aboutText">
                <p>Mijn naam is Sarah en ik hou van bootjes</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="aboutPage">
            <img src="/img/aboutPage/onno.png" alt="">
            <div class="aboutText">
                <p>Mijn naam is Onno en ik hou van campertjes</p>
            </div>
        </div>
    </div>
</div>
<div class="spacer hidden-xs"></div>
<div class="row">
    <div class="col-md-3">
        <div class="aboutPage">
            <img src="/img/aboutPage/jim.png" alt="">
            <div class="aboutText">
                <p>Mijn naam is Jim en ik hou van gehaktballetjes</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="aboutPage">
            <img src="/img/aboutPage/jim.png" alt="">
            <div class="aboutText">
                <p>Mijn naam is Jorma en ik hou van helicoptertjes</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="aboutPage">
            <img src="/img/aboutPage/jorma.png" alt="">
            <div class="aboutText">
                <p>Mijn naam is Jorma en ik hou van helicoptertjes</p>
            </div>
        </div>
    </div>
</div>
<div class="spacer hidden-xs"></div>
<div class="row">
    <div class="col-md-3">
        <div class="aboutPage">
            <img src="/img/aboutPage/jim.png" alt="">
            <div class="aboutText">
                <p>Mijn naam is Jim en ik hou van gehaktballetjes</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="aboutPage">
            <img src="/img/aboutPage/jim.png" alt="">
            <div class="aboutText">
                <p>Mijn naam is Jorma en ik hou van helicoptertjes</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="aboutPage">
            <img src="/img/aboutPage/jorma.png" alt="">
            <div class="aboutText">
                <p>Mijn naam is Jorma en ik hou van helicoptertjes</p>
            </div>
        </div>
    </div>
</div>