<div ng-controller="WocoCtrlYmere">
  <h1 ng-bind="gegevens[0].naam"></h1>
  <div ng-controller="RankingCtrl">
    <p>
      <span ng-bind="gegevens[3].naam"></span> scoort een <span ng-bind="gegevens[3].corporatie  | number:1"></span> als woningcorporatie (met in totaal <span ng-bind="gegevens[3].n  | number:0"></span> ingevulde vragenlijsten). Woningen van <span ng-bind="gegevens[3].naam"></span> scoren een gemiddelde <span ng-bind="gegevens[3].woning  | number:1"></span> en omgeving en woonsituatie halen respectievelijk een <span ng-bind="gegevens[3].omgeving | number:1"></span> en <span ng-bind="gegevens[3].woonsituatie | number:1"></span>. Om <span ng-bind="gegevens[3].naam"></span> in context te zien kun je op de <a href="/#home">rankingpagina</a> kijken.
    </p>
  </div>
  <p class="hidden-sm hidden-xs"><button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">Verwijder sortering</button></p><br><br>
  <table ng-table ="tableParams" show-filter="true" class="table table-striped">
    <tbody> 
      <tr ng-repeat="data in $data"> 
        <td data-title="'review'" sortable="'review'" filter="{'review':'text'}">{{data.review}}</td>
        <td data-title="'woning'" sortable="'woning'">{{data.woning}}</td>
        <td data-title="'omgeving'" sortable="'omgeving'">{{data.omgeving}}</td>
        <td data-title="'woonsituatie'" sortable="'woonsituatie'">{{data.woonsituatie}}</td>
      </tr>
    </tbody>
  </table>
</div>

