<div ng-controller="WocoCtrlKey">
  <h1 ng-bind="gegevens[0].naam"></h1>
  <div ng-controller="RankingCtrl" class="intro">
    <p id="contentParagraph">
      <span ng-bind="gegevens[1].naam"></span> scoort een <span ng-bind="gegevens[1].corporatie  | number:1"></span> als woningcorporatie (met in totaal <span ng-bind="gegevens[1].n  | number:0"></span> ingevulde vragenlijsten). Woningen van <span ng-bind="gegevens[1].naam"></span> scoren een gemiddelde <span ng-bind="gegevens[1].woning  | number:1"></span> en omgeving en woonsituatie halen respectievelijk een <span ng-bind="gegevens[1].omgeving | number:1"></span> en <span ng-bind="gegevens[1].woonsituatie | number:1"></span>. Het gemiddelde cijfer van <span ng-bind="gegevens[1].naam"></span> is <span id="averageCorpo" ng-bind="gegevens[1].average | number:1"></span>. Het gemiddelde overall cijfer is <span id="averageOverall"ng-bind="averageOverall | number:1"></span>.
    </p>
  </div>
  <p class="hidden-sm hidden-xs">
    <button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">Verwijder sortering</button>
  </p><br>
  <br>
  <table ng-table="tableParams" show-filter="true" class="table table-striped">
    <tbody>
      <tr ng-repeat="data in $data">
        <td data-title="'review'" sortable="'review'" filter="{'review':'text'}">
          {{data.review}}
        </td>
        <td data-title="'woning'" sortable="'woning'">
          {{data.woning}}
        </td>
        <td data-title="'omgeving'" sortable="'omgeving'">
          {{data.omgeving}}
        </td>
        <td data-title="'woonsituatie'" sortable="'woonsituatie'">
          {{data.woonsituatie}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

